{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section gradient-banner mb-5 pt-0">
  <div class="container hero-index">
    <div class="row align-items-center">
    <div class="col-12 d-block d-md-none text-center mb-4 order-1">
      <img class="img-fluid pl-5 d-block" src="{% static 'images/hero_img-removebg.webp' %}" alt="screenshot">
    </div>
      <div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-left"
           data-aos="fade-right"
           data-aos-delay="300"
           data-aos-duration="1000">
        <h1 class="text-white fw-bold mb-4">
            <strong>Diseño y Desarrollo Web para Profesionales de la Salud</strong>
        </h1>
        <h4 class="text-white mb-5 d-none d-md-block">
          <strong>Impulsa tu consulta con presencia digital profesional</strong>
        </h4>
        <a aria-label="planes" href="{% url 'servicios' %}#planes-digitales"
           class="btn-cta-primary px-4 py-3 px-sm-5 py-sm-4 fs-5 fs-sm-4 fw-bold shadow-lg d-inline-block">
           VER PLANES
        </a>
      </div>
      <div class="col-md-6 text-center d-none d-md-block order-1 order-md-2"
           data-aos="fade-left"
           data-aos-delay="600"
           data-aos-duration="1000">
        <img class="img-fluid" src="{% static 'images/hero_img-removebg.webp' %}" alt="screenshot">
      </div>
    </div>
  </div>
</section>
<section class="feature section mt-5 pt-0">
  <div class="container mb-5">

    <div class="row align-items-center" style="min-height: 350px;">
      
      <div class="col-lg-5 col-md-6 d-flex flex-column gap-2 mb-4 mb-md-0">
        <div class="btn btn-outline-dark w-100 text-start px-4 py-3 fw-bold shadow-sm" data-aos="fade-right" data-aos-delay="100">
          <i class="bi bi-stars me-2 text-warning"></i> CLÍNICAS ESTÉTICAS
	  </div>
        
        <div class="btn btn-outline-dark w-100 text-start px-4 py-3 fw-bold shadow-sm"  data-aos="fade-right" data-aos-delay="150">
          <i class="bi bi-heart-pulse me-2 text-danger"></i> CLÍNICAS MÉDICAS
         </div>
        
        <div class="btn btn-outline-dark w-100 text-start px-4 py-3 fw-bold shadow-sm"data-aos="fade-right" data-aos-delay="200">
          <i class="bi bi-emoji-smile me-2 text-info"></i> CLÍNICAS DENTALES
         </div>
        
        <div class="btn btn-outline-dark w-100 text-start px-4 py-3 fw-bold shadow-sm" data-aos="fade-right" data-aos-delay="250">
          <i class="bi bi-bandaid me-2 text-success"></i> CENTROS KINESIOLÓGICOS
         </div>
        
        <div class="btn btn-outline-dark w-100 text-start px-4 py-3 fw-bold shadow-sm" data-aos="fade-right" data-aos-delay="300">
          <i class="bi bi-apple me-2 text-danger"></i> CONSULTAS NUTRICIONALES
         </div>
        
        <div class="btn btn-outline-dark w-100 text-start px-4 py-3 fw-bold shadow-sm"data-aos="fade-right" data-aos-delay="350">
          <i class="bi bi-chat-quote me-2 text-primary"></i> CONSULTAS PSICOLÓGICAS
         </div>
      </div>

      <div class="col-lg-7 col-md-6" data-aos="fade-left" data-aos-delay="200">
		<div class="col-lg-12 text-center text-lg-start order-2 order-lg-1 justify-mobile">
			<h2 class="section-title mb-3"><strong>¿Eres un profesional de la salud?</strong></h2>
			<p class="lead text-muted">
			¿Quieres atraer más pacientes y transmitir confianza desde el primer clic? Te diseñamos la página web ideal para tu clínica en menos de 7 días.
			</p>
		</div>
      <div class="col-lg-12 text-center order-1 order-lg-2 mb-4 mb-lg-0">
        <div class="image-content" data-aos="fade-left">
          <img class="img-fluid w-75 rounded-4 shadow-sm" src="{% static 'images/section-beneficios (1).webp' %}" alt="Página web para clínicas">
        </div>
      </div>
      </div>

    </div>
  </div>
</section>

<script>
  function cambiarContenido(texto) {
    const contenedorTexto = document.getElementById('texto-especialidad');
    // Pequeño efecto visual al cambiar de texto
    contenedorTexto.style.opacity = 0;
    setTimeout(() => {
      contenedorTexto.innerHTML = texto;
      contenedorTexto.style.color = "#000"; // Oscurece el texto para que resalte
      contenedorTexto.style.opacity = 1;
    }, 200);
  }
</script>
<section class="py-5">
  <div class="container">
    <div class="text-center">
      <h2 class="section-title"><strong>Nuestros Servicios</strong></h2>
    </div>
    <div class="row align-items-center justify-mobile mb-5 " data-aos-delay="300" data-aos-duration="500" data-aos="fade-right">
      <div class="col-lg-6">
        <h2><strong>Diseño y desarrollo <span class="color-primary">WEB</span></strong></h2>
        <p >
          Creamos sitios web específicamente para el <span class="color-primary">sector de la salud</span>, diseñados para atraer a nuevos pacientes,
          generar confianza y resaltar tus servicios médicos. Mejora tu presencia en línea, consigue contactos calificados y
          <strong class="color-primary">establece tu clínica como un referente en su especialidad.</strong>
          ¡Facilita que tus pacientes te encuentren y den el primer paso hacia su consulta!
        </p>
        <a aria-label="ver mas"  href="{% url 'servicios' %}" class="btn-section btn-80-mobile mt-3">Ver más</a>
      </div>
      <div class="col-lg-6 d-flex justify-content-center">
        <img src="{% static 'images/coding.webp' %}" alt="IMG" class="img-fluid w-75 w-lg-50">
      </div>
    </div>
    <div class="row align-items-center mb-5 flex-lg-row-reverse justify-mobile" data-aos-delay="300" data-aos-duration="500" data-aos="fade-left">
      <div class="col-lg-6">
        <h2><strong>SEO para <span class="color-primary">Clínicas Médicas</span></strong></h2>
        <p>
          <span class="color-primary">Aparece en los primeros resultados de búsqueda cuando tus pacientes buscan atención médica.</span> Nos encargamos de optimizarlo con estrategias de SEO específicas para el sector salud, lo que te ayudará a aumentar tu visibilidad en Google y atraer tráfico orgánico de calidad. <strong class="color-primary">Más visitas significan más reservas y, por supuesto, más pacientes.</strong>
        </p>
        <a aria-label="ver mas" href="{% url 'servicios' %}" class="btn-section btn-80-mobile mt-3">Ver más</a>
      </div>
      <div class="col-lg-6 d-flex mt-4 justify-content-center">
        <img src="{% static 'images/seo.webp' %}" alt="IMG" class="img-fluid w-75 w-lg-50">
      </div>
    </div>
    <div class="row align-items-center mb-5 justify-mobile" data-aos-delay="300" data-aos-duration="500" data-aos="fade-right">
      <div class="col-lg-6">
        <h2><strong><span class="color-primary">Branding Médico </span></strong>Profesional</h2>
        <p>
          <span class="color-primary">Diseñamos una estrategia personalizada</span> según tus servicios y objetivos para que <strong class="color-primary">aparezcas en los resultados de las búsquedas</strong> que realizan los pacientes que requieren tu especialidad médica.
        </p>
        <a aria-label="ver mas" href="{% url 'servicios' %}" class="btn-section btn-80-mobile mt-3">Ver más</a>
      </div>
      <div class="col-lg-6 mt-4 d-flex justify-content-center">
        <img src="{% static 'images/branding.webp' %}" alt="IMG" class="img-fluid w-75 w-lg-50">
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light" id="proceso">
	<div class="container">
	  <div class="text-center mb-5">
		<h2 class="fw-bold color-primary"><strong>¿Cómo trabajamos contigo?</strong></h2>
		<p class="lead text-dark">Conoce el paso a paso de nuestro proceso personalizado para profesionales de la salud</p>
	  </div>
	  <div class="row justify-content-between text-center timeline-process position-relative">
		<div class="col-md-4 col-lg-2 mb-4 timeline-step">
		  <div class="step-icon bg-neutral mb-3">
			<i class="bi bi-check2-circle"></i>
		  </div>
		  <h6 class="fw-bold mb-1"><strong>1. Elección del servicio</strong></h6>
		</div>
		<div class="col-md-4 col-lg-2 mb-4 timeline-step">
		  <div class="step-icon bg-neutral mb-3">
			<i class="bi bi-camera-video"></i>
		  </div>
		  <h6 class="fw-bold mb-1"><strong>2. Videollamada diagnóstica</strong></h6>
		</div>
		<div class="col-md-4 col-lg-2 mb-4 timeline-step">
		  <div class="step-icon bg-neutral mb-3">
			<i class="bi bi-file-earmark-text"></i>
		  </div>
		  <h6 class="fw-bold mb-1"><strong>3. Propuesta personalizada</strong></h6>
		</div>
		<div class="col-md-4 col-lg-2 mb-4 timeline-step">
		  <div class="step-icon bg-neutral mb-3">
			<i class="bi bi-code-slash"></i>
		  </div>
		  <h6 class="fw-bold mb-1"><strong>4. Desarrollo y branding</strong></h6>
		</div>
		<div class="col-md-4 col-lg-2 mb-4 timeline-step">
		  <div class="step-icon bg-neutral mb-3">
			<i class="bi bi-cloud-upload"></i>
		  </div>
		  <h6 class="fw-bold mb-1"><strong>5. Publicación y capacitación</strong></h6>
		</div>
		<div class="col-md-4 col-lg-2 mb-4 timeline-step">
		  <div class="step-icon bg-neutral mb-3">
			<i class="bi bi-graph-up-arrow"></i>
		  </div>
		  <h6 class="fw-bold mb-1"><strong>6. Acompañamiento continuo</strong></h6>
		</div>
	  </div>
	</div>
	<div class="container text-center">
		<a aria-label="proceso completo" class="btn btn-section-secondary" href="{% url 'servicios' %}#paso-a-paso" >Ver paso a paso completo</a>
	</div>
  </section>
<section class="py-5">
	
  </section>

{% endblock %}